#### The map() function in Python

The map() function applies a given function to all items in an input list(or any other iterable) and return a map object (an interior). This is particularly useful for transforming data in a list comprehensively.

In [2]:
def square(x):
    return x**2
square(4)

16

In [ ]:
## map() with lambda function
numbers =[1,2,3,4,5,6]
print(list(map(lambda x : x**2, numbers)))

[1, 4, 9, 16, 25, 36]

In [6]:
## map
list(map(square,numbers))  ## map require two things 1-function 2-iterable

[1, 4, 9, 16, 25, 36]

In [7]:
### map multiple iterables

numbers1 = [1,2,3]
numbers2 = [4,5,6]

added_numbers = list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [10]:
## map() to convert a list of strings to integer

str_numbers = ["1","2","3","4","5"]
int_numbers = list(map(int, str_numbers))

print(int_numbers)
print(str_numbers)

[1, 2, 3, 4, 5]
['1', '2', '3', '4', '5']

In [12]:
words = ["apple","banana","cherry"]
upper_words = list(map(str.upper,words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
def get_name(person):
    return person['name']

people =[
    {"name":"Aadi","age":24},
    {"name":"Shivam","age":23}
]
list(map(get_name,people))

['Aadi', 'Shivam']