### ARITHMETIC OPERATORS

In [ ]:
a =10
b=5

add_result = a+b
sub_result = a-b
mul_result = a*b
div_result = a/b
floor_div_result = a//b
modulus_result = a%b

exponential_results = a**b

print(add_result)
print(sub_result)
print(mul_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponential_results)

15
5
50
2.0
2
0
100000

### Comparison Operators

In [ ]:
## equal to ==
a =10
b=10

a==b

True

In [8]:
str1="Aadi"
str2="Aadi"

str1==str2

True

In [9]:
## not equal to !=
str1 != str2

False

In [10]:
str3="aadi"
str4="Aadi"

str3 != str4

True

In [ ]:
##greater than >

num1 =45
num2 = 55

num1>num2

False

In [12]:
## less than < 
num1 < num2

True

In [ ]:
## greater than equal to >=
number1 = 34
number2 = 34

number1 >= number2

True

In [18]:
## less than equal to <=
number1 = 32
number2 = 34

number1 <= number2

True

### Logical Operators

In [20]:
## And , Not , OR
X=True
Y=True

result = X and Y
print(result)

True

In [21]:
X=True
Y=False

result = X and Y
print(result)

False

In [22]:
## OR
X=True
Y=False

result = X or Y
print(result)

True

In [24]:
## Not
X=True

not X

False

In [26]:
## simple calculator

num1 = float(input("Enter first Number: "))
num2 = float(input("Enter second number: "))

add = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2
floor = num1 // num2
mod = num1 % num2
exp = num1 ** num2 

print("Addition:", add)
print("Substraction:", sub)
print("Multiplication:", mul)
print("Divison:", div)
print("Floor Division:", floor)
print("Modulus:", mod)
print("Exponential:", exp)

Addition: 30.0
Substraction: -10.0
Multiplication: 200.0
Divison: 0.5
Floor Division: 0.0
Modulus: 10.0
Exponential: 1e+20