In [6]:
print("hello world"); a=10; a

hello world

10

In [12]:
age = 18

if age>=18:
    print("eligible")
else:
    print("not eligible")

eligible

In [2]:
print(input("hello"))

21222323

In [3]:
input("hello")

'jfhvghj'

In [6]:
# for loop
num1 = 5
sum = 1

for i in range(1, num1+1):
    sum *= i

print(sum)

120

In [15]:
#range sequence
var = range(1, 100)
print(*var)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [16]:
type(var)

range

In [17]:
n1 = 10
n2 = 20

n1, n2 = n2, n1
n1, n2

(20, 10)

In [5]:

# (c*9/5)+32
cel = 37

fahrenheit = (cel * (9/5)) + 32
fahrenheit

98.60000000000001

In [10]:
str1 = "hello"
str2 = " world"
print(f"{str1 + str2}")

hello world

#WAP to check if a variable is of specific type

In [29]:
num1 = 10

bool(type(num1) == int)

True

In [32]:
n1, n2 = 10, 20

int(n1 == n2)
n1 == n2

False

In [33]:
n1**2

100

In [34]:
n = 7

if n%2 == 0:
    print("even")
else:
    print("odd")

odd

In [37]:
print("even" if n%2 == 0 else "odd")
"even" if n2%2 == 0 else "odd"

odd

'even'

In [38]:
nat = 7
sum = 0

for i in range(1, nat+1):
    sum = sum +i
print(sum)

28

In [43]:
year  = 2005
# "Leap Year" if year%4 == 0 else "Not A Leap Year"
year%4 == 0

False

In [45]:
s = "hello"

for i in range(-1, -(len(s)+1), -1):
    print(s[i], end="")

olleh

In [46]:
for i in range(len(s)-1, -1, -1):
    print(s[i], end="")

olleh

In [54]:
s[::-1]

'olleh'

In [5]:
pal = "level"

pal == pal[::-1]
#     print("PALINDROME")
# else:
#     print("NOT A PLAINDROME")

True

In [12]:
pal[:len(pal)//2 if len(pal)%2 == 0 else len(pal)//2 + 1] == pal[len(pal)//2:][::-1]

True

In [16]:
10>>1

5

In [17]:
10<<1

20