In [1]:
## Integer example
age = 23
type(age)

int

In [3]:
##floating point datatypes
height = 5.11
print(type(height))

<class 'float'>

In [4]:
## string datatype example
name ="Aaditya"
print(type(name))

<class 'str'>

In [7]:
##boolean datatype
is_true = True
type(is_true)

bool

In [ ]:
a =10
b=10

type(a==b)

bool

In [12]:
##common errors

results = "hello" + 5
print(results)

TypeError: can only concatenate str (not "int") to str

In [14]:
results = "hello" + str(5)
print(results)

hello5

In [ ]:
str="hello"

str.