##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [1]:
##creating a tuple

empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [8]:
lst = list()
print(type(lst))

tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [9]:
numbers = tuple([1,2,3,4,5,6,7,8,9])
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
list((1,2,3,4,5,6,7,8))

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
mixed_tpl = (1,"Hello",3.14,True)
print(mixed_tpl)

(1, 'Hello', 3.14, True)

In [25]:
## Accessing tuple element

print(numbers[4])
print(numbers[-1])
print(numbers[:])
print(numbers[::-1])
print(numbers[:5:])

5
9
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(9, 8, 7, 6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5)

In [28]:
## Tuples Operation

concatenation_tuple = numbers +  mixed_tpl
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 'Hello', 3.14, True)

In [29]:
mixed_tpl *3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)

In [30]:
numbers *3

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9)

In [35]:
## Immutable Nature Of Tuples
## Tuples are immutable , meaning their elements cannot once assigned.

lst = [1,2,3,4,5]
print(lst)

lst[1] = "Aadi"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Aadi', 3, 4, 5]

In [37]:
numbers[2] = "Aadi"

TypeError: 'tuple' object does not support item assignment

In [38]:
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [40]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing and Unpacking tuples
##Packing
packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [42]:
## Unpacking a tuple
a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [45]:
## unpacking with *

numbers = (1,2,3,4,5,6)
first,*middle,last = numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [48]:
## Nested Tuple

##Nested List
lst = [[1,2,3],[4,5,6],[7,"Hello",3.14]]
lst [0][0:3]

[1, 2, 3]

In [50]:
## tuple inside a list

lst = [[1,2,3],[4,5,6],(7,"Hello",3.14)]
lst [2][0:3]

(7, 'Hello', 3.14)

In [2]:
nested_tuple = ((1,2,3),("a","b","c"),[True,False])

## Access The Elements inside a Tuple
print(nested_tuple[0])
print(nested_tuple[2])
print(nested_tuple[1][2])

(1, 2, 3)
[True, False]
c

In [55]:
## iterating oner nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False