In [1]:
## creating Dictionaries

empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [3]:
empty_dict = dict()
empty_dict

{}

In [4]:
student= {"name":"Aaditya","age":32,"grade":25}
print(student)

{'name': 'Aaditya', 'age': 32, 'grade': 25}

In [6]:
#Error
student= {"name":"Aaditya","age":32,"name":25}
print(student)

{'name': 25, 'age': 32}

In [ ]:
student =  {"name" : "Aadi","age" : 25,"grade" : "A"}
print(student)

{'name': 'Aadi', 'age': 25, 'grade': 'A'}

In [14]:
## accessing dictionaries
print(student["grade"])
print(student["age"])


## Accessing using get() method
print(student.get("grade"))
print(student.get("last name"))
print(student.get("last_name","Not Available"))

A
25
A
None
Not Available

In [ ]:
## Modifying Dictionaries Elements
## Dictionaries are mutable, so you can add, update or delete elements

print(student)

{'name': 'Aadi', 'age': 25, 'grade': 'A'}

In [ ]:
student["age"] = 23  ## updated the value for the the 
print(student)
student["address"] = "India" ## added a new key and value
print(student)

{'name': 'Aadi', 'age': 23, 'grade': 'A', 'address': 'India'}
{'name': 'Aadi', 'age': 23, 'grade': 'A', 'address': 'India'}

In [20]:
del student["grade"] ## delete the key and value pair

print(student)

{'name': 'Aadi', 'age': 23, 'address': 'India'}

In [25]:
## common dictionary methods

keys= student.keys() ## get all the keys
print(keys)
values= student.values() ## get all the values
print(values)

items = student.items()  ##get all the key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Aadi', 23, 'India'])
dict_items([('name', 'Aadi'), ('age', 23), ('address', 'India')])

In [28]:
## shallow copy
student_copy = student
print(student)
print(student_copy)

{'name': 'Aadi', 'age': 23, 'address': 'India'}
{'name': 'Aadi', 'age': 23, 'address': 'India'}

In [30]:
student["name"]="Shivam"
print(student)
print(student_copy)

{'name': 'Shivam', 'age': 23, 'address': 'India'}
{'name': 'Shivam', 'age': 23, 'address': 'India'}

In [32]:
student_copy1= student.copy() ## shallow copy
print(student_copy1)
print(student)

{'name': 'Shivam', 'age': 23, 'address': 'India'}
{'name': 'Shivam', 'age': 23, 'address': 'India'}

In [33]:
student["name"] ="Aaditya"
print(student_copy1)
print(student)

{'name': 'Shivam', 'age': 23, 'address': 'India'}
{'name': 'Aaditya', 'age': 23, 'address': 'India'}

In [34]:
## iterating over dictionaries
## You can use loops to iterate over dictionaries,keys,values or items

## Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [37]:
## Iterate over values

for value in student.values():
    print(value)

Aaditya
23
India

In [39]:
## Iterate over key value pairs

for key,value in student.items():
    print(f"{key}:{value}")

name:Aaditya
age:23
address:India

In [41]:
## Nested Dictionaries

students = {
    "Student1" :{"name":"Aadi","Age":24},
    "Student2" :{"name":"Shivam","Age":23}
}
print(students)

{'Student1': {'name': 'Aadi', 'Age': 24}, 'Student2': {'name': 'Shivam', 'Age': 23}}

In [45]:
## Accessing nested dictionaries elements

print(students["Student2"]["name"])
print(students["Student2"]["Age"])

Shivam
23

In [49]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

Student1:{'name': 'Aadi', 'Age': 24}
name:Aadi
Age:24
Student2:{'name': 'Shivam', 'Age': 23}
name:Shivam
Age:23

In [1]:
## Dictionary comprehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [3]:
## Conditional dictionary comprehension

even_squares={x:x**2 for x in range(10) if x%2==0}
print(even_squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
## Practical Examples
## Use a dictionary to count the frequency of elements in list

numbers =[1,2,2,3,3,4,5,6,6,5,4,6,2,5,3,5,4]

frequency ={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 3, 3: 3, 4: 3, 5: 4, 6: 3}

In [6]:
## merge 2 dictionaries in a row

dict1 = {"a":1,"b":2}
dict2 = {"c":3,"d":4}
merge_dict={**dict1,**dict2}
print(merge_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}